.post {
	&-thumbnail {
		margin-bottom: rem(50);
	}

	&-header {
		margin-bottom: rem(50);
	}

	&-content,
	&-navigation,
	&-related {
		margin-bottom: rem(50);

		@include min(lg) {
			margin-bottom: rem(70);
		}
	}
}

.nav-links {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: rem(20);

	@include min(lg) {
		flex-direction: row;
		gap: rem(50);
	}
}
