// To top button
#to-top {
	@include tr;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background-color: $b;
	width: rem(48);
	height: rem(48);
	border-radius: 50%;
	cursor: pointer;
	position: fixed;
	bottom: rem(90);
	right: rem(30);
	opacity: 0;
	visibility: hidden;
	z-index: 90;
	padding-bottom: 5px;
	@include min(md) {
		width: rem(60);
		height: rem(60);
	}

	&:hover {
		@include min(md) {
			background-color: $primary;
		}
	}

	&.show {
		opacity: 1;
		visibility: visible;
	}

	svg {
		width: rem(44);
		height: rem(44);
		fill: $w;
	}
}
