/***************************
* Custom Admin styles
***************************/
$blue: #0073aa;
$green: #009688;
$green-hover: darken($green, 8%);

// ACF flexible content
.acf-flexible-content {
	.layout {
		border: 2px solid $blue;
	}
}

.acf-field-flexible-content {
	&:before {
		display: none !important;
	}

	> .acf-label {
		width: 100% !important;
		float: none !important;
		margin-bottom: 7px !important;
	}

	> .acf-input {
		width: 100% !important;
	}
}

.acf-fc-layout-handle {
	background: $blue;
	color: #fff !important;
	font-size: 1.2rem;
	font-weight: 600;
}

.acf-flexible-content
.layout
.acf-fc-layout-controls
.acf-icon.-collapse:hover {
	color: #fff;
	background: #2a9bd9;
}

.acf-field.acf-accordion {
	border: 2px solid $blue;
	margin-top: 3px;

	.acf-label.acf-accordion-title {
		background: $blue;
		color: #fff;
		font-size: 1.2rem;
		font-weight: 600;
	}
}

// ACF Extended
.acfe-modal.-open.-full > .acfe-modal-wrapper {
	max-width: 1100px;
}

.acfe-flexible-stylised-button {
	.acf-actions {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.acf-button {
		background: $green;
		color: #fff;
		border: 3px solid $green;
		padding: 4px 80px;
		font-weight: 700;
		transition: all 0.2s;

		&:hover,
		&:active,
		&:focus {
			background: $green-hover;
			color: #fff;
			border-color: $green-hover;
		}
	}
}

// hide ACFE 'Thumbnail' upload button as we are loading this image into theme
.acf-field-image[data-name="acfe_flexible_thumbnail"],
.acfe-flexible-field-setting[data-name="acfe_flexible_thumbnail_label"] {
	display: none;
}

// Disable Woocommerce Header in WP Admin
.woocommerce-layout__header {
	display: none;
}

.woocommerce-layout__activity-panel-tabs {
	display: none;
}

.woocommerce-layout__header-breadcrumbs {
	display: none;
}

.woocommerce-embed-page .woocommerce-layout__primary {
	display: none;
}

.woocommerce-embed-page #screen-meta,
.woocommerce-embed-page #screen-meta-links {
	top: 0;
}


.acf-field-button-group {
	.acf-button-group {
		//flex-wrap: wrap;
		//display: flex;

		label {
			//max-width: 25%;

			img {
				width: 100%;
			}
		}
	}
}
