body.home {
	position: relative;

	&:before {
		position: absolute;
		content: '';
		background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.5) 71%, rgba(255, 255, 255, 0) 100%);
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		right: 0;
		height: 100vw;
		border-radius: 50%;
		z-index: -1;
	}
}


