@font-face {
	font-family: 'Albra';
	src: url('../fonts/Albra-Semi.woff2') format('woff2'),
	url('../fonts/Albra-Semi.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Albra';
	src: url('../fonts/Albra-Medium.woff2') format('woff2'),
	url('../fonts/Albra-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
