.m-faq {
	&__item {
		border: 1px solid $grey-border;
		transition: border-color $time;

		&:not(:last-child) {
			margin-bottom: rem(10);
		}

		&.is-open,
		&:hover {
			border-color: $b;
		}

		&-title {
			display: flex;
			justify-content: space-between;
			gap: rem(16);
			padding: rem(20);
			margin: 0;

			svg {
				flex-shrink: 0;
			}
		}

		&-content {
			padding: rem(0 20 20);
		}
	}
}
