.module_contact {
	&__inner {
		border: 1px solid $b;
		border-bottom: none;
		background: $light;
		padding: clamp-rem(27, 75, 575, 767) clamp-rem(30, 15, 575, 767);
		@include min(lg) {
			padding: rem(104 15 97);
		}
		@include max(sm) {
			font-size: rem(14);
		}

		@include headings {
			margin-bottom: rem(13);
		}

		form {
			margin-top: clamp-rem(38, 90, 575, 991);

			.row {
				row-gap: clamp-rem(23, 9, 575, 991);
				justify-content: space-between;

				.col-md-6 {
					@include min(md) {
						width: 46%;
					}
				}
			}
		}
	}

	&__container {
		margin: 0 auto;
		max-width: rem(690);
		@include headings {
			@include max(sm) {
				margin-bottom: rem(6);
			}
		}

		.btn-group {
			@include max(sm) {
				flex-direction: column;
				align-items: unset;
			}
		}
	}

	input[type=text], input[type=email], input[type=url], input[type=password], input[type=search], input[type=number], input[type=tel], input[type=range], input[type=date], input[type=month], input[type=week], input[type=time], input[type=datetime], input[type=datetime-local], input[type=color], textarea {
		background: transparent;
		border: none;
		border-bottom: 1px solid $b;
		border-radius: 0;
		padding: rem(3 0);

		&::placeholder {
			opacity: 1;
			color: $b;
		}
	}

	textarea {
		height: rem(26);
		resize: auto;
	}

	div.nice-select {
		border: none;
		border-bottom: 1px solid $b;
		border-radius: 0;
		height: rem(26);
		padding: 0;
		background: transparent;
		color: $b;

		&:after {
			border: none;
			background-image: url("data:image/svg+xml,%3Csvg width='17' height='10' viewBox='0 0 17 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 0.527344L8.5 8.52734L16 0.527344' stroke='%232A2F38' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
			background-repeat: no-repeat;
			background-position: 50%;
			transform: none;
			width: rem(15);
			height: rem(10);
		}

		&.open {
			&:after {
				transform: scale(1, -1);
			}
		}
	}

	input[type=submit] {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		border: none;
		margin-top: rem(25);
		@include min(sm) {
			margin-top: clamp-rem(45, 85, 767, 1200);
		}
		@include max(sm) {
			width: 100%;
		}
	}
}
