.module_statistic {
	position: relative;

	.svg {
		&_1 {
			position: absolute;
			left: 0;
			top: 0;
			transform: translate(-32%, 30%);

			height: auto;
			width: 350px;
			@include min(lg) {
				bottom: 0;
				top: auto;
				width: auto;
				transform: translate(-42%, 30%);
			}
		}

		&_2 {
			position: absolute;
			right: 0;
			bottom: 0;
			transform: translate(25%, -18%);

			height: auto;
			width: 350px;
			@include min(lg) {
				width: auto;
				transform: translate(25%, -32%);
			}
		}
	}

	& > .container {
		gap: rem(120);
		position: relative;
		padding: rem(0 40);
		@include min(sm) {
			gap: rem(83);
			padding: rem(0 15);
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: rem(12);
	}

	&__numbers {
		background: $light;
		border: 1px solid $b;
		padding: rem(57 10 47);
		position: relative;
		@include min(md) {
			padding: rem(60 20 50);
		}
		@include min(lg) {
			padding: rem(84 20 78);
		}
		@include max(sm) {
			&:before {
				position: absolute;
				content: '';
				left: 0;
				right: 0;
				top: -100px;
				bottom: -100px;
				width: 1px;
				//height: 100px;
				background: $b;
				margin: 0 auto;
				z-index: -1;
			}
		}

		.row {
			@include max(sm) {
				row-gap: rem((70));
			}
		}

		&--icon {
			height: rem(128);
			max-width: rem(160);
			margin: 0 auto;
			@include min(sm) {
				margin-bottom: rem(15);
			}

			img {
				max-height: 100%;
				max-width: 100%;
			}
		}

		.h3 {
			line-height: 1.4;
			@include max(sm) {
				font-size: rem(22);
			}
		}
	}
}
