.page-template-template-buildings,
.page-template-template-collections,
.page-template-template-neighborhood {
	@include max(sm) {
		.breadcrumbs {
			display: none;
		}
		.padding-top {
			padding-top: 0;
		}
	}
}

.search_banner {
	padding: rem(0 0 50);
	@include max(sm) {
		position: relative;
		&:before {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			right: 0;
			height: 110px;
			background: linear-gradient(to bottom, rgba($w, .7), transparent);
		}
	}

	&__mask {
		max-width: rem(700);
		margin: 0 auto;

		div {
			mask-image: url('../img/tax_mask.svg');
			mask-repeat: no-repeat;
			display: inline-block;
			padding-bottom: 56.35%;
			position: relative;
			width: 100%;
			-webkit-mask-repeat: round;

			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
		}
	}

	&--img {
		width: 100%;
	}

	.container {
		row-gap: 50px;
	}

	p, li {
		letter-spacing: .9px;

		img {
			display: inline-block;
			max-width: 679px;
			margin-top: 10px;
			max-height: 454px;
			width: auto;
			//margin-bottom: -26px;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: 10px;
	}

	&__form {
		margin: 0 auto;
		max-width: rem(1030);
		width: 100%;
		display: none;
		border-radius: 50px;
		box-shadow: 0 0 65px rgba(24, 27, 8, 0.07);
		@include min(sm) {
			border: 1px solid $w;
			display: flex !important;
			flex-wrap: wrap;
		}
		@include max(sm) {
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 9;
			background: $w;
			padding: rem(40);
			&--close {
				margin: 0 auto;
				left: 0;
				right: 0;
				top: 15px;
				position: absolute;
				height: 3px;
				width: 30px;
				background: $grey;
				border-radius: 2px;

				&:before {
					position: absolute;
					content: '';
					top: -20px;
					bottom: -20px;
					left: -20px;
					right: -20px;
				}
			}
		}

		input[type="text"] {
			flex: 1 1 75%;
			border: none;
			border-right: 1px solid $b;
			backdrop-filter: blur(10px);
			background: rgba($w, .5);
			border-radius: rem(50 0 0 50);
		}

		> div {
			flex: 1 1 100%;
			max-width: 100%;
			@include min(sm) {
				border-right: 1px solid $grey;
				flex: 1 1 33%;
				max-width: 33%;
			}
			@include min(md) {
				flex: 1 1 25%;
				max-width: 25%;
			}

			&:nth-child(2) {
				.vsb-main {
					& > button {
						@include min(md) {
							border-radius: 50px 0 0 50px;
						}
					}
				}
			}

			@include max(md) {
				&:last-of-type {
					border-right: none;
				}
			}
		}

		.nice-select {
			font-weight: 500;
			border-radius: 0;
			border: none;
			border-right: 1px solid $b;
			height: rem(56);
			display: flex;
			align-items: center;

			.list {
				border-color: $b;
				border-radius: 0;
			}
		}

		.select2-container {
			width: 100% !important;
		}

		.select2-selection--single {
			height: 54px;
			border-radius: 0;
			border: none;

			.select2-selection__placeholder {
				font-weight: 500;
				color: $color-text;
			}

			.select2-selection__rendered {
				line-height: 52px;
				text-align: left;
				padding: 0 20px;
				background: $w;
				font-weight: 500;
				color: $color-text;
			}

			.select2-selection__clear {
				display: none;
			}

			.select2-selection__arrow {
				height: 52px;
				display: inline-block;
				//width: rem(14);
				//height: rem(8);
				margin-left: 2px;
				background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L7 7.4L13 1' stroke='%232A2F38' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
				background-repeat: no-repeat;
				background-size: 14px;
				background-position: 50%;
				margin-right: 17px;

				b {
					display: none;
				}
			}
		}

		.select2-container .select2-selection--multiple {
			min-height: 54px;
			border-radius: 0;
			border: none;

			.select2-selection__rendered {
				width: 100%;
				display: block;

				li {
					float: none;

					.select2-search__field {
						height: 54px;
						margin: 0;
						line-height: 20px;
						padding: 6px 20px;
						background: $w;
						font-weight: 500;
						color: $color-text;
					}
				}
			}
		}

		.vsb-main {
			height: 100%;
			width: 100%;

			.vsb-menu {
				@include max(sm) {
					display: none;
					position: static;
					box-shadow: none;
					border: none;
					ul {
						margin: 0;
						padding: 0;
					}
					li {
						padding-top: 8px;
						padding-bottom: 8px;
						padding-left: 22px;
					}
				}
			}

			button {
				border: none !important;
				max-width: 100% !important;

				background: rgba($w, .5);
				backdrop-filter: blur(10px);
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: center;
				@include max(sm) {
					padding-left: 0 !important;
					padding-right: 0 !important;
					border-bottom: 1px solid $hr !important;
				}
			}
		}

		button {
			min-height: rem(54);
			font-weight: 600;
		}

		> button {
			background: $primary;
			color: $w;
			border: none;
			cursor: pointer;
			font-size: clamp-rem(16, 18, 575, 991);
			@include tr();
			flex: 1 1 100%;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			gap: 10px;
			@include min(md) {
				background: rgba($w, .5);
				color: $b;
				backdrop-filter: blur(10px);
				flex: 1 1 25%;
				border-top: none;
				border-radius: 0 50px 50px 0;
			}
			@include max(sm) {
				width: 100%;
				margin-top: rem(60);
			}

			svg {
				path {
					@include tr;
					@include max(md) {
						fill: $w;
					}
				}
			}

			&:hover {
				background: rgba($primary, .5);
				color: $w;

				svg {
					path {
						fill: $w;
					}
				}
			}

			&:focus {
				background: rgba($primary-hover, .5);
				color: $w;

				svg {
					path {
						fill: $w;
					}
				}
			}
		}
	}
}
