.testimonials {
	&_module {
		margin: clamp-rem(80, 155, 767, 1200) 15px clamp-rem(80, 171, 767, 1200);
	}

	&_slider {
		@include max(sm) {
			.swiper-slide {
				max-width: 78%;
			}
		}

		&__slide {
			background: $w;
			border-radius: 30px;
			padding: 10px;
			gap: rem(9);
			display: flex;
			flex-wrap: wrap;
			align-items: center;

			&--img {
				width: rem(82);

				img {
					max-width: 100%;
				}
			}

			&--content {
				flex: 1 1;
				font-size: rem(10);
				position: relative;
				line-height: 1.3;

				.stars {
					position: absolute;
					top: 0;
					right: 0;
					display: inline-flex;
					gap: 5px;
					align-items: center;
				}

				h6 {
					font-size: rem(16);
					letter-spacing: 0;
					margin-bottom: rem(15);
				}

				p {
					margin: 0;
				}
			}
		}
	}
}
