.who_we_are {
	margin: rem(50 0);

	.container {
		max-width: rem(1410); //940px;
	}

	&--title {
		margin-bottom: rem(15);
	}

	&__features {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 30px;
		margin-bottom: 30px;

		&--item {
			max-width: rem(160);
			width: 100%;
			display: inline-flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			font-family: $font-heading;
			font-size: rem(16);

			img {
				margin-bottom: -7px;
			}

			.title {
				display: inline-block;
				border-radius: 25px;
				background: $light_primary;
				min-width: rem(100);
				text-align: center;
				position: relative;
				z-index: 1;
				margin-bottom: 2px;
				padding: rem(0 10);
			}

			.text {
			}
		}
	}

	&--content {
		font-size: 18px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		@include min(md) {
			gap: rem(0 35);
		}
		@include min(lg) {
			gap: rem(0 55);
		}

		.left_content,
		.right_content {
			width: 100%;
			@include min(md) {
				flex: 1 1 45%;
				width: auto;
			}
		}

		.right_content {

		}

		p {
			margin-bottom: rem(17);
		}
	}
}
